{% extends 'landing.html.twig' %}



{% block body %}
    <section id="credo">
        <div class="container bg-photo">
            <div class="row">
                <div class="col-4 col-sm-6 d-flex flex-column justify-content-center credo-height">
                    <div class="credo-text">УСПІХ</div>
                    <div class="credo-text">КЛІЄНТА</div>
                    <div class="credo-text">=</div>
                    <div class="credo-text">МІЙ</div>
                    <div class="credo-text">УСПІХ</div>
                </div>
                <div class="col-sm-6 d-none d-sm-block">
                    <img src="img/face_desktop.jpg" class="img-fluid" alt="foto">
                </div>
            </div>
        </div>
    </section>

    <section id="blocks">
        <div class="container">
            <div class="row justify-content-end">
                <h4 class="align-middle">
                    Я можу Вам допомогти у вирішенні питань, що стосуються:
                </h4>
            </div>

            <div id="inner_blocks" class="row justify-content-center ">
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-user-tie"></i>Спадкування</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-coins"></i>Пенсії</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-percent"></i>Кредитів</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-car"></i>ДТП</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="far fa-bell"></i>Штрафів</p>
                </div>
                <div id="bussines" class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-briefcase"></i>Перевірок Бізнесу</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-users"></i>Сімейних Спорів</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="far fa-building"></i>Землі</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-industry"></i>Створення і Діяльності Юридичних Осіб</p>
                </div>
                <div class="col-md-6 col-12 animated hidden">
                    <p class="text-block"><i class="fas fa-people-carry"></i>Трудових Спорів</p>
                </div>
            </div>
            <div class="row">
                <a class="price" href="{{ path('price')  }}">*Ціни на послуги</a>
            </div>
        </div>
    </section>
    <section id="cv">
        <div class="container">
            <div class="row">
                <h4 class="align-middle">Про Мене</h4>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="img/face.jpg" class="img-fluid foto-ava" alt="foto">
                </div>
                <div class="col-sm-10">
                    <p class="cv-text">
                        Я займаюся юридичною практикою <span class="hidden animated">11 років</span>.
                        5 років працювала в органах прокуратури.
                        Є <span class="hidden animated">практикуючим</span> адвокатом <span
                                class="hidden animated"> 4 роки.</span>
                        Постійно працюю над підвищенням своєї<span class="hidden animated"> кваліфікації,</span> беру
                        участь у семінарах, тренінгах, форумах.
                        Закінчила Національний юридичний університет імені <span
                                class="hidden animated">Ярослава Мудрого </span>у м. Харкові, де отримала дипломи бакалавра та
                        магістра з <span class="hidden animated">відзнакою.</span>
                        Маю значний <span class="hidden animated">позитивний досвід</span> у представництві клієнтів у <span class="hidden animated">судах</span> у майнових, земельних, кредитних, сімейних, спадкових справах.
                        Завжди докладаю <span class="hidden animated">максимум зусиль</span> для досягнення позитивного результату для клієнта.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
