body, h1, h2, h3, h3, h4, h5, h6, a, p, span {
    font-family: 'Oswald', sans-serif;
}

i {
    margin: 5px;
}

span.element {
    line-height: 1.5;
    padding: 5px 5px 0 5px;
}

.bg-white-noise {
    background-image: url("../img/img-noise.png");
}

.bg-pink {
    background-color: #e00660;
    color: #ffffff;
}

.white-text{
    color: #ffffff;
}

button {
    color: #ffffff;
}

button:hover {
    color: #e00660;
}

.tel {
    color: #ffffff;
    padding: 8px;
}

.tel:hover {
    color: #e00660;
}

h1 {
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

.typed-cursor {
    height: 20px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 12000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: url("../img/img-noise.png"); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.opacity {
    opacity: 0.5;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: #e00660;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */


.circle p {
    font-size: 19px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: rgba(1, 1, 1, 0.3);
}

.text-block {
    text-align: center;
    padding: 0.5rem;
    margin: 10px 0;
    border: 1px solid gainsboro;
}

#credo {
    margin: 50px 0;
    background-image: url("../img/img-noise.png");
}

.credo-text {
    text-align: center;
    font-size: 5vw;
    color: #e00660;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: initial;
}

h4 {
    background-color: #e00660;
    padding: 10px;
    color: #ffffff;
}

p i {
    padding: 0 5px;
    font-size: 18px;
}

.text-block:hover {
    background-image: url("../img/img-noise.png");
    font-size: 20px;
    color: #ffffff;
}


/* responsive circle */

.circle ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.circle ul {
    display: -webkit-flex;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circle ul li {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ff0082;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("../img/cirle.jpg"); /* The image used */
}

i.fa-address-book {
    font-size: 8vw;
}

i.fa-address-book:hover {
    background-color: rgba(244, 232, 66, 0.7);
}

a.price {
    margin: 25px 0;
    color: #000000;
}

.circle ul li img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.circle ul li h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    margin: 0;
    padding: 10px;
    font-size: 2vw;
    text-align: right;
}

#cv {
    margin: 50px 0 0 0;
    /*background-color: #E0E0E0;*/
    padding: 40px 0;
}

.cv-text {
    font-size: 22px;
    line-height: 1.8;
}

p.cv-text span.hidden {
    padding: 5px;
}

#table h1 {
    margin: 75px 0 25px 0;
}

footer {
    background-image: url("../img/img-noise.png");
}

.pos-f-t {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a.contacts{
    color: #ffffff;
}

a.contacts:hover{
    color: #ff0082;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        margin-bottom: 50px;
    }

    h3 {
        font-size: 8vw;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .circle ul li h3 {
        font-size: 6vw;
    }

    .bg-photo {
        background-image: url("../img/face.png"); /* The image used */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
    }

    #credo {
        background: transparent;
    }

    .foto-ava {
        display: none;
    }

    .credo-text {
        text-align: center;
        font-size: 10vw;
        color: #e00660;
        padding-left: 1rem;
    }

    .credo-height {
        height: 550px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .circle ul li h3 {
        font-size: 4vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .circle ul li h3 {
        font-size: 2.5vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .circle ul li h3 {
        font-size: 2rem;
    }
}

