<footer id="link-contact" class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row ">
            <div class="col-md-12 mt-md-0 mt-12 justify-center">
                <h5 class="text-uppercase white-text">Aдвокат Панчелюга Катерина Миколаївна</h5>
                <p class="d-inline p-1 bg-pink">Зв'яжіться зі мною зручним для Вас способом</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 offset-md-3  mb-md-0 mb-3">
                <h5 class="text-uppercase"><span class="white-text">Контакти</span></h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="contacts" href="https://goo.gl/maps/WSqvkUqKB3n" target="_blank"><i class="fas fa-map-marker-alt"></i> м. Рівне, вул.Паркова 2</a>
                    </li>
                    <li>
                        <a class="contacts" href="tel:+380971336851"><i class="fas fa-mobile-alt"></i> 0971336851</a>
                    </li>
                    <li>
                        <a class="contacts" href="mailto:advocate.rivne@gmail.com"><i class="far fa-envelope"></i> advocate.rivne@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase "><span class="white-text">Соціальні Мережі</span></h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="contacts" href="https://www.facebook.com/katiazubik" target="_blank"><i class="fab fa-facebook"></i>Facebook</a>
                    </li>
                    <li>
                        <a class="contacts" href="https://www.linkedin.com/in/kateryna-pancheliuga-31747117b/" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/AntonZubilevych"> Zubilevych A.</a>
    </div>
    <!-- Copyright -->

</footer>