<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row ">

            <!-- Grid column -->
            <div class="col-md-12 mt-md-0 mt-12 justify-center">

                <!-- Content -->
                <h5 class="text-uppercase">Aдвокат Панчелюга</h5>
                <p id="link_contact">Зв'яжіться зі мною</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 offset-md-3  mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase "><span class="bg-yellow">Контакти</span> </h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">офіс: вул.Парова 15</a>
                    </li>
                    <li>
                        <a href="#!">тел: 097889000</a>
                    </li>
                    <li>
                        <a href="#!">email:kayua@gmail.com</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase "><span class="bg-yellow">Соціальні Мережі</span> </h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><i class="fab fa-facebook"></i>Facebook</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-linkedin"></i>LinkedIn</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-twitter-square"></i>Twitter</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fas fa-rss"></i>Blog</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/AntonZubilevych"> Zubilevych A.</a>
    </div>
    <!-- Copyright -->

</footer>