<header>
    <div class="pos-f-t">
        <nav class="navbar  bg-dark-grey">
            <button class="navbar-toggler text-white" onclick="openNav()" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>Menu
            </button>

            <span>
                   <a class="bg-light tel yellow-border" href="tel:+380978892012"><i class="fas fa-phone-volume animated"></i> 380978892012</a>
               </span>
        </nav>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class=" align-middle">
                <span class="element bg-yellow">

                </span>
            </h1>
        </div>
        <div class="row justify-content-end">
            <div class="col-8 col-md-4">
                <div class="circle animated hidden">
                    <ul>
                        <li>
                            <h3><i class="fas fa-plus "></i>Довіра <br> Чесніть <br> Надійність</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
